<% include partials/header.ejs %>

<h1>Campgrounds</h1>

<a href="/">Back to homepage.</a>

<% campgrounds.forEach(function(camp){ %>
    <h1>
        <%= camp.name %>
    </h1>
    <img src="<%= camp.image %>" alt="camp image">
<% }) %>

<% include partials/footer.ejs %>